:root {
  --poppins: "Poppins", sans-serif;
  --poppins-regular: 400;
  --poppins-medium: 500;
  --poppins-bold: 700;
  --animation: color-change 5s ease infinite;
  --background: #f9f7fe;
  --default-color: #0000;
  --opacity-color: #505078;
  --primary-color: #ffffff;
  --accent-color: #d620e3;
  --secondary-color: #d59bf6;
  --secondary-light-color: #edb1f1;
  --secondary-dark-color: #9896f1;
  --secondary-bright-color: #8ef6e4;
  --border: 1px solid #0000;

  --playfair-display: "Playfair Display", serif;
  --playfair-bold: 700;
}

/* Define the animation */
@keyframes color-change {
  0% {
    color: #0000;
  } /* Start color */
  40% {
    color: #9896f1;
  } /* Middle-2 color */
  50% {
    color: #d59bf6;
  } /* Middle-3 color */
  75% {
    color: #8ef6e4;
  } /* Middle-4 color */
  85% {
    color: #d620e3;
  } /* Middle-5 color */
  100% {
    color: #edb1f1;
  } /* End color */
}
/* ANIMATION  */

body {
  font-family: var(--poppins);
  font-style: normal;
  font-optical-sizing: auto;
}
.logo {
  max-width: 200px;
}
.hero {
  padding: 30px 20px;
  padding-top: 0;
  background: var(--background);
  text-align: center;
}

.hero h5 {
  font-weight: var(--poppins-bold);
   color: var(--opacity-color);
  font-size: 36px;
}
h1 {
  animation: var(--animation);
  font-family: var(--playfair-display);
  font-weight: var(--playfair-bold);
  font-size: 96px;
  margin-top: 0px;
}
.hero p {
  font-weight: var(--poppins-medium);
  color: var(--opacity-color);
  font-size: 24px;
  margin: 0;
  margin-top: 24px;
}
.hero a {
  color: #0000;
}
.btn-branding {
  border-radius: 4px;
  background: var(--background);
  font-weight: var(--poppins-medium);
  font-size: 18px;
  padding: 18px 30px;
  margin-top: 50px;
  border: none;
}
.btn-branding:hover {
  transition: 200ms ease-out;
  color: var(--primary-color);
  background: var(--accent-color);
}
.paragraph {
  font-weight: var(--poppins-regular);
  font-size: 18px;
  margin: 50px auto;
}
.project-title {
  font-family: var(--playfair-display);
  font-size: 56px;
  font-weight: var(--playfair-bold);
  margin-top: 90px;
  text-align: start;
  margin-bottom: 0;
}
.project-text {
  font-size: 16px;
  font-weight: var(--poppins-regular);
  padding: 50px 20px;
  margin: 0;
}
button.launch-button {
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid #d620e3;
  font-size: 16px;
  font-weight: var(--poppins-medium);
  background-color: #ffffff;
  margin: 40px 20px;
  margin-top: 20px;
}
button.launch-button:hover {
  padding: 20px 30px;
  border-radius: 4px;
  border: 1px solid #d620e3;
  font-size: 16px;
  font-weight: var(--poppins-medium);
  background-color: var(--accent-color);
}
a.launch-link:hover {
  color: black;
}
.work-inquiry {
  background: var(--background);
  padding: 40px;
  margin: 30px auto;
  margin-bottom: 0;
}
.work-inquiry p {
  padding: 0px 40px;
  padding-bottom: 20px;
  margin: 0;
}
.contact-button {
  padding: 20px 30px;
  background-color: #ffffff;
  margin-top: 50px;
}
.contact-button:hover {
  background: var(--accent-color);
}
.contact-link {
  color: black;
  font-size: 24px;
  font-weight: var(--poppins-medium);
}
.contact-data:hover {
  color: #d620e3;
}
strong.contact-data {
  font-size: 24px;
}
.icons {
  display: flex;
  flex-direction: row;
  margin: 50px 300px;
  margin-top: 0px;
  font-size: 30px;
  text-align: center;
}
.icons a {
  color: black;
  padding: 10px;
}

.icons a:hover {
  color: var(--accent-color);
}

/* ABOUT */

h2 {
  font-family: var(--playfair-display);
  font-size: 64px;
  font-weight: var(--playfair-bold);
  padding: 20px;
  margin: 0;
}
h5 {
  font-size: 24px;
  font-weight: var(--poppins-bold);
  padding: 20px;
  margin: 0;
}
p.text {
  font-weight: var(--poppins-regular);
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
  padding: 20px;
  margin: 0;
}
.avatar {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

/* WORK  */
h4 {
  font-size: 24px;
  font-weight: var(--poppins-bold);
}
.work-container p {
  font-size: 14px;
  font-weight: var(--poppins-regular);
  opacity: 0.7;
}
.work-container a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.work-container a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}
.contact-container h2 {
  text-align: center;
}

.rights {
  margin-top: 10px;
  margin-right: 20px;
}
/* RESPONSIVE WEBSITE  */

@media (max-width: 900px) {
  .logo {
    width: 130px;
    margin-bottom: 0;
  }
  .hero h5 {
    margin: 10px auto;
    padding: 0;
  }
  h1 {
    font-size: 54px;
    margin: 10px auto;
  }
  .hero p {
    font-size: 18px;
  }
  .hero a{
    font-size: 14px;
  }
  .btn-branding {
    margin-top: 20px;
  }
  .project-title {
    margin-top: 0px;
  }
  .project-image {
    display: none;
  }
  .work-inquiry h2 {
    font-size: 32px;
    padding: 0;
  }
  .work-inquiry a {
    padding: 10px 20px;
  }
  .contact-button {
    margin-top: 0;
    margin-right: 20px;
    padding: 10px 20px;
  }
  .work-inquiry p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
  }
  strong.contact-data {
    font-size: 18px;
  }
  .icons {
    margin: 0;
    font-size: 10px;
    padding: 0;
  }
  .icons a {
    padding: 0;
    font-size: 20px;
  }
  footer {
    padding-bottom: 20px;
  }

  /* About  */
  h2 {
    font-size: 58px;
  }

  /* Work  */
  .work-container h2 {
    font-size: 48px;
  }

  /* Contact  */
  .rights {
    margin-top: 20px;
    font-size: 14px;
  }
}
